apiVersion: batch/v1
kind: Job
metadata:
  name: trivy-scan
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: trivy
          image: aquasec/trivy:0.48.0
          args:
            - "image"
            - "--severity=HIGH,CRITICAL"
            - "--exit-code=0"
            - "--no-progress"
            - "__IMAGE_DEST__"
          volumeMounts:
            - name: docker-config
              mountPath: /root/.docker/
      volumes:
        - name: docker-config
          projected:
            sources:
              - secret:
                  name: dockerhub-creds
                  items:
                    - key: .dockerconfigjson
                      path: config.json
